.App-header {
    background-color: #00BFA5;
    height: 75px;
    padding: 20px;
    /* color: #03DAC5; */
    color: black;
    text-align: center;
}

.nav-links-go4me:hover {
    color: #adadad;
}

.container-background{
    background: #A7FFEB;
}

.button-go4me{
    border-color: #00BFA5;
    color: #00BFA5;
}

.button-go4me-header{
    border-color: #083931;
    color: #083931;
    background: #00BFA5;
}

.button-go4me-header:hover{
    border-color: #67b8a3;
    color: #000000;
    background: #67b8a3;
}


.checked {
    color: #d5d500;
    letter-spacing: 1px;
}

.button-go4me:hover{
    background: #00BFA5;
    color: black;
}

.button-go4me-nav{
    border-color: #00BFA5;
    color: #00d8bc;
    background: #128875;
}

.button-go4me-nav:hover{
    background: #00BFA5;
    color: black;
}

.checked {
    color: #ffff00;
}
.card-panel {
    margin-top: 15px;
}

.nav-go4me {
    margin-bottom: 30px;
    background: #128875;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}
