<!DOCTYPE html>
<html lang="en" xmlns:tr="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <link href="../static/App.css" rel="stylesheet" media="screen" th:href="@{/App.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div th:replace="/base/baseapp :: header" class="App-header">...</div>
    <div th:replace="/base/baseapp :: nav" class="nav-">...</div>
    <div class="container">
        <a class="btn button-go4me" th:href="@{/}">Back!</a>
        <div style="margin-right: auto">
            <h1 class="text-center">User Info</h1>
            <a th:href="@{'/profile/config/'}" th:if="${myUser}" class="btn button-go4me col-sm-3">Edit profile!</a>
            <div class="container row card text-black container-background card-panel">
                <div class="card-body col-auto">
                    <div class="card-title ">Username: </div>
                    <div th:text="${User.getUserName()}" class="card-text"></div>
                </div>
                <div class="card-body col-auto">
                    <div class="card-title">Email: </div>
                    <div th:text="${User.getEmail()}" class="card-text"></div>
                </div>
                <div class="card-body col-auto">
             	   <div class="card-title">Rating: </div>
             	    <a th:href="@{'/profile/' + ${User.getUserName()} + '?rating=1'}"><span class="fa fa-star checked"></span></a>
             	    <a th:href="@{'/profile/' + ${User.getUserName()} + '?rating=2'}"><span class="fa fa-star checked"></span></a>
             	    <a th:href="@{'/profile/' + ${User.getUserName()} + '?rating=3'}"><span class="fa fa-star checked"></span></a>
             	    <a th:href="@{'/profile/' + ${User.getUserName()} + '?rating=4'}"><span class="fa fa-star-half-o checked"></span></a>
             	    <a th:href="@{'/profile/' + ${User.getUserName()} + '?rating=5'}"><span class="fa fa-star-o checked"></span></a>

                    <div id="rating" class="card-text"> </div>
                </div>
                
                <script>
                	document.getElementById("rating").innerHTML = "average based on " + + " reviews" ;
                </script>
                    
                <div class="card-body col-auto">
                    <div class="card-title">Twitter: </div>
                    <div th:text="${User.getTwitterAccount()}" class="card-text"></div>
                </div>
                <div class="card-body col-auto">
                    <div class="card-title">Address 1: </div>
                    <div th:text="${User.getLocalization().getAddress1()}" class="card-text"></div>
                </div>
                <div class="card-body col-auto">
                    <div class="card-title">Address 2: </div>
                    <div th:text="${User.getLocalization().getAddress2() != null} ?
                    ${User.getLocalization().getAddress2()} : 'Empty value'" class="card-text"></div>
                </div>
                <div class="card-body col-auto">
                    <div class="card-title">City: </div>
                    <div th:text="${User.getLocalization().getCity()}" class="card-text"></div>
                </div>
                <div class="card-body col-auto">
                    <div class="card-title">Country: </div>
                    <div th:text="${User.getLocalization().getCountry()}" class="card-text"></div>
                </div>
                <div class="card-body col-auto">
                    <div class="card-title">ZIP Code: </div>
                    <div th:text="${User.getLocalization().getZipCode()}" class="card-text"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>